/* 600px (mobiles) */
@media(max-width:37.5em) {
  .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .product-preview-card {
    max-height: 62rem;
    max-width: 35rem
  }

  picture img {
    width: 35rem
  }

  .text-container {
    padding: 3rem;
  }

  .tag {
    font-size: 1rem;
    margin-bottom: 1.2rem;
  }

  .title {
    font-size: 2.8rem;
    line-height: 1.2;
  }

  .content {
    margin: 1.2rem 0;
    font-size: 1.4rem;
  }

  .price-container {
    margin: 2rem 0;
  }

  .price {
    font-size: 2.8rem;
  }

  .previous-price {
    font-size: 1.4rem;
  }

  .btn {
    padding: 1.5rem 2rem;
    font-size: 1.4rem;
  }
}