:root {
  --dark-cyan: #2a5a48;
  --light-cyan: #3c8067;
  --cream: #f2ebe3;
  --dark-blue: #1c232b;
  --grayish-blue: #6c7289;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  background-color: var(--cream);
  font-family: 'Montserrat', serif;
}

/* Reusable Styles */

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

/* Main container */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.product-preview-card {
  background-color: var(--white);
  color: var(--bg-gray);
  border-radius: 1rem;
  max-width: 60rem;
  max-height: 45rem;
  overflow: hidden;
}

/* Image container */

picture img {
  width: 30rem
}

/* Text container */

.text-container {
  padding: 3.2rem;
}

.tag {
  font-size: 1.2rem;
  display: block;
  text-transform: uppercase;
  margin-bottom: 2rem;
  letter-spacing: 0.45rem;
  color: var(--grayish-blue);
}

.title {
  font-family: 'Fraunces', serif;
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--dark-blue);
  line-height: 1;
}

.content {
  color: var(--grayish-blue);
  font-size: 1.4rem;
  line-height: 1.65;
  margin: 2.4rem 0;
}

.price-container {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin: 2.65rem 0;
}

.price {
  font-family: 'Fraunces', serif;
  font-size: 3rem;
  color: var(--light-cyan);
}

.previous-price {
  color: var(--grayish-blue);
  text-decoration: line-through;
}

/* CTA Button */

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  color: var(--cream);
  background-color: var(--light-cyan);
  cursor: pointer;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  padding: 1.5rem 3rem;
  font-weight: 700;
}

.btn-filled:hover {
  background-color: var(--dark-cyan);
}